.doc-content {
    max-width: 864px;
    margin: auto;
}

md-input-group.long > input {
    width: 566px;
}

section {
    background: #f7f7f7;
    border-radius: 3px;
    text-align: center;
    margin: 1em;
    position: relative !important;
    padding-bottom: 10px;
}

.md-button:not(.md-fab) {
    padding: 0.5em;
}

.md-button.md-fab {
    width: 48px;
    height: 48px;
}

 .md-button {
    display: block;
    margin: 1em;
    line-height: 25px;
}

div .md-button {
    margin-left: 8px;
}

textarea {
    display: block;
    margin: 1em auto;
}
md-card {
    padding: 1em;
}
div .rowhead {
    min-width: 80px;
    text-align: center;
    padding: 10px;
}
