<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>0x590c - Alpha3</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="//0.y12.tw/js/angular-material/0.6.1/angular-material.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="app.css" rel="stylesheet">
</head>

<body ng-app="YourApp">

  <div class="doc-content" ng-controller="YourController">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span class="md-flex">alpha3(OpReturn.FileProofUrl)</span>
        <span flex></span>
        <md-button class="md-fab" aria-label="home" ng-click="ypp.NavGo('index.html')">
          <md-icon icon="home.svg" style="width: 24px; height: 24px;"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-card>
      <div layout="row">
        <div class="rowhead">
          <md-button class="md-fab md-primary" aria-label="index">1</md-button>
        </div>
        <div>
          <h2>Get RIPEMD160(SHA2-256(OverlayOracle.Foo))</h2>
        </div>
      </div>
      <md-text-float label="Foo String" ng-model="foo.tagString" class="long"></md-text-float>
      <md-text-float label="Foo Integer" type="number" ng-model="foo.tagInt32"></md-text-float>
      <div layout="row" layout-align="end">
        <md-button class="md-raised" ng-click="genFoo()">Build <i class="fa fa-gears"></i>
        </md-button>
      </div>
      <md-text-float label="size(OverlayOracle.Foo)" ng-model="foo.r.orsize"></md-text-float>
      <md-text-float label="0x590c+hex(OverlayOracle.Foo)" ng-model="foo.r.orhex" class="long"></md-text-float>
      <md-text-float label="0x590c+base64(OverlayOracle.Foo)" ng-model="foo.r.orbase64" class="long"></md-text-float>
      <md-text-float label="RIPEMD160(SHA2_256(OverlayOracle.Foo)) hex" ng-model="foo.r.orhash160" class="long"></md-text-float>
      <md-text-float label="goo.gl target url" ng-model="foo.r.googl" class="long"></md-text-float>
    </md-card>
    <md-card>
      <div layout="row">
        <div class="rowhead">
          <md-button class="md-fab md-primary" aria-label="index">2</md-button>
        </div>
        <div>
          <h2>Get goo.gl short url</h2>
        </div>
      </div>

      <div layout="row" layout-align="end">
        <md-button class="md-raised" ng-click="genGoogl()">Request <i class="fa fa-gears"></i>
        </md-button>
      </div>
      <md-text-float label="goo.gl short url id" ng-model="googl.id"></md-text-float>

    </md-card>
    <md-card>
      <div layout="row">
        <div class="rowhead">
          <md-button class="md-fab md-primary" aria-label="index">3</md-button>
        </div>
        <div>
          <h2>Build(OpReturn.FileProofUrl)</h2>
        </div>
      </div>

      <div layout="row" layout-align="end">
        <md-button class="md-raised" ng-click="genFileProofUrl()">Build <i class="fa fa-gears"></i>
        </md-button>
      </div>
      <md-text-float label="OP_RETURN Raw Hex ({{orhex.rawSize}} bytes)" ng-model="orhex.rawHex" class="long"></md-text-float>
      <md-text-float label="OP_RETURN Result Hex ({{orhex.resultSize}} bytes)" ng-model="orhex.resultHex" class="long"></md-text-float>


    </md-card>
    <md-card>
      <div layout="row">
        <div class="rowhead">
          <md-button class="md-fab md-primary" aria-label="index">5</md-button>
        </div>
        <div>
          <h2>Parse(OpReturn.FileProofUrl) from blockchain/tx</h2>
        </div>
      </div>
      <form>
        <md-text-float label="blockchain tx hex" ng-model="findtx" class="long"></md-text-float>
        <md-text-float label="OP_RETURN Hex" ng-model="fr.orhex" class="long"></md-text-float>
        <div class="row">
          <md-text-float label="HashType" ng-model="fr.hashType"></md-text-float>
          <md-text-float label="FileSize(bytes)" type="number" ng-model="fr.fileSize"></md-text-float>
        </div>
        <div class="row">
          <md-text-float label="FileProofUrl extType" ng-model="fr.extType"></md-text-float>
          <md-text-float label="FileProofUrl urlId" ng-model="fr.urlId"></md-text-float>
        </div>
        <md-text-float label="RIPEMD160(SHA2_256(v))" ng-model="fr.hash160" class="long"></md-text-float>
        <md-text-float label="Target url" ng-model="fr.url" class="long"></md-text-float>
        <div class="row">
          <span flex></span>
          <md-button class="md-raised md-primary" ng-click="parseOpReturnTx()">Get/Parse <i class="fa fa-external-link fa-rotate-180"></i>
          </md-button>
          <md-button class="md-raised" ng-click="ypp.ExtHelloTx(findtx)">HelloTx <i class="fa fa-external-link"></i>
          </md-button>
          <md-button class="md-raised md-warn" ng-click="ypp.ExtBcInfoTx(findtx)">BCINFO <i class="fa fa-external-link"></i>
          </md-button>
        </div>
      </form>
    </md-card>
    <md-card>
      <div layout="row">
        <div class="rowhead">
          <md-button class="md-fab md-primary" aria-label="index">6</md-button>
        </div>
        <div>
          <h2>Parse(OverlayOracle.Foo)</h2>
        </div>
      </div>
      <div layout="row" layout-align="end">
          <md-button class="md-raised" ng-click="expandGoogl()">Request <i class="fa fa-gears"></i>
          </md-button>
      </div>
      <md-text-float label="goo.gl longUrl" ng-model="googlexp.longUrl" class="long"></md-text-float>
      <md-text-float label="base64" ng-model="googlexp.base64" class="long"></md-text-float>
      <md-text-float label="OverlayOracle.foo size" ng-model="googlexp.oracleSize"></md-text-float>
      <md-text-float label="OverlayOracle.foo.tagString" ng-model="googlexp.oracle.foo.tagString" class="long"></md-text-float>
      <md-text-float label="OverlayOracle.foo.tagInt32" ng-model="googlexp.oracle.foo.tagInt32"></md-text-float>
    </md-card>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-animate.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-route.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-aria.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular-resource.min.js"></script>
  <script src="//0.y12.tw/js/hammer/2.0.4/hammer.min.js"></script>
  <script src="//0.y12.tw/js/angular-material/0.6.1/angular-material.min.js"></script>
  <script src="//590c.org/js/dcodeIO/Long/2.2.3/Long.min.js"></script>
  <script src="//590c.org/js/dcodeIO/ByteBuffer/3.5.4/ByteBufferAB.min.js"></script>
  <script src="//590c.org/js/dcodeIO/ProtoBuf/3.8.2/ProtoBuf.min.js"></script>
  <script src="//590c.org/js/bitcoinjs/1.4.2/bitcoinjs.min.js"></script>
  <script src="app-v2.js"></script>
  <script src="590c-v1412-alpha3.js"></script>
  <script>
    // Include app dependency on ngMaterial

    angular.module('YourApp', ['ngMaterial', 'ngResource'])
      .controller("YourController", ['$scope', '$resource', '$mdToast', function($scope, $resource, $mdToast) {
        $scope.ypp = Ypp;

        var reshbTx = $resource('https://mainnet.helloblock.io/v1/transactions/:tx');

        $scope.findtx = '9c5a4af02a20aa8cbe4fdc45c574b990d55c297d08a697ee2b0589af78b8fc25';
        $scope.foo = {
          'tagString': 'Hello Bitcoin With Cryptography We Trust! TAICHUNG',
          'tagInt32': 123
        };
        $scope.googl = {};
        $scope.orhex = {};

        $scope.fr = {};
        $scope.v = {};
        $scope.ext = {};

        $scope.v.hash256 = '08D4CCF4F1269AD55F4F10672A6D53E2D7933D4444549CF341629AEAD9C7D368';
        $scope.v.eidString = '590c.proto';
        $scope.v.fileSize = 2452;
        // http://pastebin.com/6gBKQShs
        // http://goo.gl/QJMZ4u
        $scope.v.eidInt32 = null;

        var frInit = function() {
          $scope.fr.content = 'NODATA';
          $scope.fr.orhex = 'NODATA';
          $scope.fr.num = 0;
        }

        var GOOGL_PREFIX = 'http://590c.org/v1412#!/';

        $scope.genFoo = function() {
          $scope.foo.r = Y590c.createOracleFoo($scope.foo.tagString, $scope.foo.tagInt32);
          $scope.foo.r.googl = GOOGL_PREFIX + $scope.foo.r.orbase64;
        };

        // Shorten
        var Googl = $resource('https://www.googleapis.com/urlshortener/v1/url', {}, {
            shorten: {
              method: 'POST'
            }
         });

         // Shorten

        $scope.genGoogl = function() {
          // {"longUrl": "http://www.google.com/"}
          Googl.shorten(null, {
            longUrl: $scope.foo.r.googl
          }, function(v) {
            console.log(v);
            $scope.googl = v;
          });
        };

        $scope.expandGoogl = function() {
            // expand
            var Googl = $resource('https://www.googleapis.com/urlshortener/v1/url?shortUrl='+$scope.fr.url);

            Googl.get(null, function(v) {
                var r = {};
                r.base64 = v.longUrl.replace(GOOGL_PREFIX+'590c','');
                r.oracle = Y590c.ParseOracle(r.base64);
                r.longUrl = v.longUrl;
                r.oracleSize = r.oracle.calculate();
                $scope.googlexp = r;
                console.log(r);
            });
        };

        $scope.genFileProofUrl = function() {
          var googlId = $scope.googl.id.replace('http://goo.gl/', '');
          var foor = $scope.foo.r;
          var pb = Y590c.createFileProofUrlGoogl(Y590c.OpReturn.HashType.SHA2_256_RIPEMD_160, foor.orhash160, foor.orsize, googlId);
          $scope.orhex.rawHex = pb.orhex;
          $scope.orhex.rawSize = pb.orsize;
          var diff = pb.orsize - 40;
          if (diff > 0) {
            var hexReduce = foor.orhash160.slice(0, (-2 * diff));
            var pb2 = Y590c.createFileProofUrlGoogl(Y590c.OpReturn.HashType.SHA2_256_RIPEMD_160, hexReduce, foor.orsize, googlId);
            $scope.orhex.resultHex = pb2.orhex;
            $scope.orhex.resultSize = pb2.orsize;
          }
        };

        $scope.toastPosition = {
          bottom: false,
          top: true,
          left: false,
          right: true
        };

        $scope.getToastPosition = function() {
          return Object.keys($scope.toastPosition)
            .filter(function(pos) {
              return $scope.toastPosition[pos];
            })
            .join(' ');
        };

        var showSimpleToast = function(content) {
          $mdToast.show(
            $mdToast.simple()
            .content(content)
            .position($scope.getToastPosition())
            .hideDelay(2000)
          );
        };

        var handle590cMeta = function(obj) {
          console.log(obj);
          if (obj.type == Y590c.OpReturn.Type.FILE_PROOF_URL) {
            var v = obj.fileProofUrl;
            console.log(v);
            $scope.fr.orhex = obj.orhex;
            $scope.fr.hash160 = v.hashValue.toHex();
            $scope.fr.hashType = v.hashType == 1 ? 'RIPEMD160(SHA2_256(v))' : 'TODO';
            $scope.fr.fileSize = v.fileSize;
            $scope.fr.urlId = v.urlId;
            if (v.extType == Y590c.OpReturn.ExtType.GOOGL_ORACLE) {
              $scope.fr.extType = 'goo.gl oracle';
              $scope.fr.url = 'http://goo.gl/' + v.urlId;
            }
          }
        }

        var cb = {};


        cb.HelloSuccess = function(v) {
          console.log(v);
          showSimpleToast('HelloBlock.io api OK');
          v.data.transaction.outputs.every(function(element, index, array) {
            console.log(element);
            if (element.value == 0 && element.scriptPubKey.indexOf('6a') == 0) {
              // parse OP_RETURN
              var obj = Y590c.ParseMetaData(element.scriptPubKey);
              handle590cMeta(obj);
              return false;
            }
            return true;
          });
        };

        cb.HelloError = function(error) {
          console.log('callback helloblock error!');
          showSimpleToast('callback helloblock error!');
          frInit();
          //console.log(error);
        };

        $scope.parseOpReturnTx = function() {
          var p = {
            'tx': $scope.findtx
          };
          reshbTx.get(p, cb.HelloSuccess, cb.HelloError);
        };
        frInit();
        console.log($scope);
        //Ypp.foo = cb;
      }]);
  </script>

</body>

</html>
